# Chaves de Autenticação 
*.json

# Banco de Dados local do Metabase
*.db
*.trace.db

# Arquivos de Sistema e IDEs
.env
.vscode/
.idea/
__pycache__/
*.log

# Ignorar banco de dados do Metabase (contém chaves de API)
*.db
*.db.trace.db
*.db.lock.db